@import 'colors';

$font-stack: 'Roboto', sans-serif;

body {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

.menu-container {
  padding-bottom: 14px !important;
}

.menu-element:first-of-type {
  font-weight: bold;
}

.menu-element:not(:first-child) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  &, &:hover {
    background-color: #ffffff;
  }
}

.menu-filter-element {
  margin: 0 !important;
}

.menu-icon {
  min-width: 30px !important;
}